name: Go - Audit

on:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417  # v6.3.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Go Audit
        run: |
          go get -modfile=go.tool.mod tool
          go vet ./...
          go tool -modfile=go.tool.mod staticcheck ./...
          go tool -modfile=go.tool.mod govulncheck ./...
