# yamllint disable rule:line-length
name: Labeler

on:
  workflow_call:

permissions: {}

jobs:
  labeler:
    runs-on: ubuntu-slim
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          persist-credentials: false

      - name: Get PR type and add label
        run: |
          gh auth setup-git
          PRTITLE="${PR_TITLE}"
          REGEX="\(([^)]+)\)"
          if [[ ${PRTITLE} =~ ${REGEX} ]]; then
            SCOPE="${BASH_REMATCH[1]}"
            TYPE="$(echo ${PRTITLE} | cut -d'(' -f1)"
          else
            TYPE="$(echo "${PRTITLE}" | cut -d':' -f1)"
            fi

          if [[ ${SCOPE} == "deps" ]]; then
            gh pr edit ${{ github.event.pull_request.number }} --add-label "type: ${TYPE},dependencies"
          else
            gh pr edit ${{ github.event.pull_request.number }} --add-label "type: ${TYPE}"
            fi
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_TITLE: ${{ github.event.pull_request.title }}
