# yamllint disable rule:line-length
name: YAML Lint

on:
  push:
    # yamllint disable-line rule:quoted-strings
    branches: ["main"]
  pull_request:
    # yamllint disable-line rule:quoted-strings
    branches: ["**"]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false

      - name: Install yamllint
        run: pip install yamllint==1.37.1

      - name: Put yamllint on PATH
        run: echo "/home/runner/.local/bin" >> $GITHUB_PATH

      - name: Lint YAML files
        run: yamllint .
